/* .grafico {
            flex: 1;
            min-width: 250px;
            height: 300px;
            background: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(233, 6, 6, 0.1);
            text-align: center;
        } */

.enlacesExternos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.enlacesExternos ul li {
  padding: 5px 0;
  border-bottom: 1px dotted #ccc;
}

.enlacesExternos ul li a {
  text-decoration: none;
  color: #007bff;
}
/* Styles for charts */
.chart-container {
  position: relative;
  width: 100%;
  min-height: 200px;
}

@media (max-width: 576px) {
  .chart-container {
    min-height: 300px;
  }
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Styles for tables */
.table th.table-dashboard-header {
  background-color: white;
  color: rgb(121, 135, 161);
  font-size: 12px;
}

.table td.table-dashboard-body {
  font-size: 12px;
}

.table td.table-dashboard-body-bold {
  font-size: 12px;
  font-weight: bold;
}

.table td.table-dashboard-footer {
  background-color: white;
  color: rgb(121, 135, 161);
  font-size: 12px;
  font-weight: bold;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table thead th,
.table tbody td,
.table tfoot td {
  white-space: nowrap; /* Evita los saltos de línea */
}

@media (max-width: 768px) {
  .table-dashboard-header {
    font-size: 0.75rem; /* Opcional: tamaño de texto más pequeño en mobile */
  }
}


/* Archivo dashboard.css */

/* Base: ocupa todo el ancho en móviles */
.dashboard-graph-s {
  flex: 0 0 100%;
  max-width: 100%;
}

/* A partir de 768px → 2 columnas */
@media (min-width: 768px) {
  .dashboard-graph-s {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* A partir de 1200px → 2 columnas (igual que xl bootstrap, pero lo ajustamos si quieres) */
@media (min-width: 1200px) {
  .dashboard-graph-s {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* A partir de 1700px → 4 columnas */
@media (min-width: 1700px) {
  .dashboard-graph-s {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Estoy creando uno nuevo para el row de kpis y calendario, lo revisas Joaquin*/
/* Base: por defecto dos columnas (50%) */
.col-custom-1700 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* A partir de 1700px → una sola columna (100%) */
@media (min-width: 1700px) {
  .col-custom-1700 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
