/* .grafico {
            flex: 1;
            min-width: 250px;
            height: 300px;
            background: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(233, 6, 6, 0.1);
            text-align: center;
        } */

.enlacesExternos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.enlacesExternos ul li {
    padding: 5px 0;
    border-bottom: 1px dotted #ccc;
}

.enlacesExternos ul li a {
    text-decoration: none;
    color: #007bff;
}