<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/fragments :: loginHead"></th:block>
</head>

<body>
  <div class="login-container">
    <h3 class="title">Prexixion Signer</h3>
    <h5 class="text-primary fw-bold text-center">Iniciar Sesión</h5>

    <form action="/login" method="post">
      <!-- Usuario -->
      <div class="mb-3">
        <label class="form-label">Usuario</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <input type="text" class="form-control" placeholder="Ingrese su usuario" id="username" name="username"
            required>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock"></i></span>
          <input type="password" class="form-control" placeholder="Ingrese su contraseña" id="password" name="password"
            required>
        </div>
      </div>

      <!-- Botón de login -->
      <button type="submit" class="btn btn-primary w-100">Ingresar</button>

      <!-- Enlace de recuperación -->
      <div class="text-center mt-3">
        <a href="#" class="text-decoration-none text-primary">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>

  <!-- Incluir scripts desde el fragmento -->
  <th:block th:replace="fragments/fragments :: loginScripts"></th:block>
</body>

</html>